#search-container {
    display: flex;
    justify-content: center;
    gap: 10px;
}

#weather-card 
{
    display: flex;
    padding: 25px;
    gap: 10px;
    border: 5px solid black;
    width: 350px;
    border-radius: 12px;
    flex-direction: column;

}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1 {
    text-align: center;
}